@charset "utf-8";
/* CSS Document */

.gorisont{
	display: inline-block;
}
.centr{
    margin-left: 32%;
}
.of_number{
    overflow: scroll;
    height: 121px;
}
.set_number{
    height: 30px;
}